/* html, body, section,div {
    background: linear-gradient(#250101, #580201);
    background-repeat: no-repeat;
    overscroll-behavior: none;
    margin: 0;
    height: 100%;
    overflow-x: auto;
    overflow: hidden;

} */

html, body, section, div {
    height: 100%;
  }


section {
width: 100%;
}
  
.left-half {
    background: linear-gradient(#250101, #580201);
    float: left;
    width: 50%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    color: white;
}
.right-half {
    background-color: #b6701e;
    float: left;
    width: 50%;
}

.book-details {
    margin-top: 80px;
}

















.artist {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: saturate(0%);;
}


/* .book-details {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    color: white;
    width: 670px;
    margin-top: 90px;
    margin-left: 50px;
    margin-right: 50px;

} */

.introduction {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;

}

.book-title {
    font-family: 'Metal Mania', cursive;
    text-align: center;
    color: #D90504;
    font-size: 69px;
}

.gates-book {
    width: 400px;
}

.author-quote {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700 !important;
    font-size: 20px;
}

.amazon-link {
    cursor: pointer;
    margin-top: -25px;
}

.email-message {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 20px;
    margin-top: -25px;
}

input[type="email"] {
    font-size: 25px !important;
    font-family: 'Inter', sans-serif !important;
    font-weight: 700 !important;
    border-radius: 4px 0px 0px 4px;
    border-style: none;
    padding-left: 30px;
    color: black;
}

.input-group {
    margin-top: -10px;
}

.input-group:focus {
    outline: none;
    box-shadow: none;
}



.btn {
    font-family: 'Inter';
    border: 2px solid white !important;
    border-radius: 0px 4px 4px 0px !important;
    font-size: 25px !important;
    font-weight: 700 !important;
    background: linear-gradient(180deg, #D90504, 0%, #A60402 100%);
    color: white !important;
    cursor: pointer;
    margin-right: 20px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}
