html, body, .container-fluid {
    height: 100vh;
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
    background: linear-gradient(#250101, #580201);
  }


.left-half {
    float: left;
    width: 50%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    color: white;
}

.book-details {
    margin-top: 80px;
}

.introduction {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
}

.book-title {
    font-family: 'Metal Mania', cursive;
    text-align: center;
    color: #D90504;
    font-size: 69px;
}


.gates-book {
    width: 400px;
}

.author-quote {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700 !important;
    font-size: 20px;
}

.amazon-link {
    cursor: pointer;
    margin-top: -25px;
}

.email-message {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 20px;
    margin-top: -25px;
}

input[type="email"] {
    font-size: 25px !important;
    font-family: 'Inter', sans-serif !important;
    font-weight: 700 !important;
    border-radius: 4px 0px 0px 4px;
    border-style: none;
    padding-left: 30px;
    color: black;
    padding-left: 50px;
    min-width: 50px !important;
}

.input-group {
    margin-top: -10px;
}

.input-group:focus {
    outline: none;
    box-shadow: none;
}



.btn {
    font-family: 'Inter';
    border: 2px solid white !important;
    border-radius: 0px 4px 4px 0px !important;
    font-size: 25px !important;
    font-weight: 700 !important;
    background: linear-gradient(180deg, #D90504, 0%, #A60402 100%);
    color: white !important;
    cursor: pointer;
    margin-right: 20px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}


.right-half {
    background-color: #b6701e;
    float: left;
    width: 50%;
    height: 100vh;

}

.artist {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: saturate(0%);
    
}