/* big displays */
html, body, .container-fluid {
    height: 100vh;
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
    background: linear-gradient(#250101, #580201);
  }


.left-half {
    float: left;
    width: 50%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    color: white;
}

.book-details {
    margin-top: 85px;
}

.introduction {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
}

.book-title {
    font-family: 'Metal Mania', cursive;
    text-align: center;
    color: #D90504;
    font-size: 90px;
}


.gates-book {
    width: 400px;
}

.author-quote {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700 !important;
    font-size: 24px;
}

.amazon-link {
    cursor: pointer;
    margin-top: -55px;
    height: 250px
}

.email-message {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 25px;
    margin-top: -50px;
}

input[type="email"] {
    font-size: 25px !important;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border-style: none;
    color: black;
    margin-left: 150px;
    margin-top: 20px;
}

.input-group {
    margin-top: -35px;
}

.input-group:focus {
    outline: none;
    box-shadow: none;
}


.btn {
    font-family: 'Inter';
    border: 2px solid white !important;
    border-radius: 0px 4px 4px 0px !important;
    font-size: 25px;
    font-weight: 700 !important;
    background: linear-gradient(#D90504, #A60402);
    color: white !important;
    cursor: pointer;
    margin-right: 150px;
    margin-top: 20px
}

.btn:focus {
    outline: none;
    box-shadow: none;
}


.right-half {
    background-color: #b6701e;
    float: left;
    width: 50%;
    height: 100vh;

}

.artist {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: saturate(0%);
}

/* laptop screen */
@media only screen and (max-width: 1440px)  {
    
    .introduction {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
    }
    
    .book-title {
        font-family: 'Metal Mania', cursive;
        text-align: center;
        color: #D90504;
        font-size: 50px;
    }

    .gates-book {
        width: 300px;
    }
    
    
    .author-quote {
        font-family: 'Inter';
        font-style: italic;
        font-weight: 700 !important;
        font-size: 15px;
    }
    
    .amazon-link {
        cursor: pointer;
        margin-top: -90px;
        width: 140px;
    }
    
    .email-message {
        font-family: 'Inter';
        font-weight: 900;
        font-size: 15px;
        margin-top: -85px;
    }
    
    input[type="email"] {
    font-size: 15px !important;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border-style: none;
    color: black;
    margin-left: 100px;
    }
    
    .input-group {
        padding: 10px;
        margin-top: -50px
    }
    
    .btn {
    font-family: 'Inter';
    border: 2px solid white !important;
    border-radius: 0px 4px 4px 0px !important;
    font-size: 15px;
    font-weight: 700 !important;
    background: linear-gradient(#D90504, #A60402);
    color: white !important;
    cursor: pointer;
    margin-right: 100px;
    }
    
    
}


/* mobile */
@media only screen and (min-width: 360px) and (max-width: 810px)  {

    .introduction {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
    }
    
    .book-title {
        font-family: 'Metal Mania', cursive;
        text-align: center;
        color: #D90504;
        font-size: 37px;
    }

    .gates-book {
        width: 163px;
    }
    
    
    .author-quote {
        font-family: 'Inter';
        font-style: italic;
        font-weight: 700 !important;
        font-size: 9px;
    }
    
    .amazon-link {
        cursor: pointer;
        margin-top: -100px;
        width: 90px;
    }
    
    .email-message {
        font-family: 'Inter';
        font-weight: 900;
        font-size: 7.5px;
        margin-top: -100px;
    }
    
    .input-group {
        padding: 10px;
        margin-top: -50px
    }
    
    .right-half {
        display: none;
    }

    .left-half {
        width: 100%;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 900;
        color: white;
    }

    input[type="email"] {
        font-size: 7.5px !important;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        border-style: none;
        color: black;
        margin-left: 50px;
    }

    .btn {
        font-family: 'Inter';
        border: 2px solid white !important;
        border-radius: 0px 4px 4px 0px !important;
        font-size: 7.5px;
        font-weight: 700 !important;
        background: linear-gradient(#D90504, #A60402);
        color: white !important;
        cursor: pointer;
        margin-right: 50px;
    }

    .artist-mobile {
        width: 170px;
        height: 170px;
        filter: saturate(0%);
        border-radius: 124.5px;
        object-fit: cover;
        margin-bottom: 20px;
    }
    
}


/* tablet */
@media only screen and (min-width: 810px) and (max-width: 1440px)  {

    .introduction {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
    }
    
    .book-title {
        font-family: 'Metal Mania', cursive;
        text-align: center;
        color: #D90504;
        font-size: 37px;
    }

    .gates-book {
        width: 163px;
    }
    
    
    .author-quote {
        font-family: 'Inter';
        font-style: italic;
        font-weight: 700 !important;
        font-size: 9px;
    }
    
    .amazon-link {
        cursor: pointer;
        margin-top: -100px;
        width: 90px;
    }
    
    .email-message {
        font-family: 'Inter';
        font-weight: 900;
        font-size: 7.5px;
        margin-top: -100px;
    }
    
    .input-group {
        padding: 10px;
        margin-top: -50px
    }
    
    .right-half {
        display: none;
    }

    .left-half {
        width: 100%;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 900;
        color: white;
    }

    input[type="email"] {
        font-size: 7.5px !important;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        border-style: none;
        color: black;
        margin-left: 50px;
    }

    .btn {
        font-family: 'Inter';
        border: 2px solid white !important;
        border-radius: 0px 4px 4px 0px !important;
        font-size: 7.5px;
        font-weight: 700 !important;
        background: linear-gradient(#D90504, #A60402);
        color: white !important;
        cursor: pointer;
        margin-right: 50px;
    }

    .artist-mobile {
        width: 170px;
        height: 170px;
        filter: saturate(0%);
        border-radius: 124.5px;
        object-fit: cover;
        margin-bottom: 20px;
    }
    
}