html, body, .container-fluid {
    height: 100vh;
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
    background: linear-gradient(#250101, #580201);
  }

/* base styles for mobile */
.left-half {
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    color: white;
}

.book-details {
    margin-top: 50px;
}

.artist-mobile {
    width: 170px;
    height: 170px;
    filter: saturate(0%);
    border-radius: 124.5px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: -25px;
}

.introduction {
    font-size: 1.125em;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
}

.book-title {
    font-size: 39px;
    font-family: 'Metal Mania', cursive;
    text-align: center;
    color: #D90504;
    margin-top: 10px;
}

.gates-book {
    width: 165px;
}

.author-quote {
    font-size: 11px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700 !important;
}

.amazon-link {
    cursor: pointer;
    width: 120px;
    margin-top: -20px;
    margin-bottom: -30px;

}

.email-message {
    font-size: 11px;
    font-family: 'Inter';
    font-weight: 900;
}

.input-group {
    padding: 10px;
    margin-top: -58px
}

.input-group:focus {
    outline: none;
    box-shadow: none;
}

input[type="email"] {
    font-size: 11px !important;
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border-style: none;
    color: black;
    margin-top: 20px;
}

.btn {
    font-size: 11px;
    margin-right: 10px;
    font-family: 'Inter';
    border: 2px solid white !important;
    border-radius: 0px 4px 4px 0px !important;
    font-weight: 700 !important;
    background: linear-gradient(#D90504, #A60402);
    color: white !important;
    cursor: pointer;
    margin-top: 20px;
}

.artist {
    display: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

/* Tablets */
@media only screen and (min-width: 800px) {
    .artist-mobile {
        display: none !important;
    }

    .introduction {
        font-size: 36px;
    }

    .book-title {
        font-size: 70px;
        margin-top: 40px;
    }

    .gates-book {
        width: 320px;
    }

    .author-quote {
        font-size: 18px;
    }

    .amazon-link {
        width: 180px;
        margin-top: -20px;
        margin-bottom: -40px;

    }

    .input-group {
        margin-top: -48px;
    }

    .email-message {
        font-size: 18px;
    }

    input[type="email"] {
        font-size: 18px !important;
        margin-left: 118px;
    }

    .btn {
        font-size: 18px;
        margin-right: 118px;
    }

}

/* Laptop */
@media only screen and (min-width: 1200px) {
    .left-half {
        width: 50%;
        float: left;
    }

    .introduction {
        font-size: 35px;
    }

    .book-title {
        font-size: 80px;
        margin-top: -5px;
    }

    .gates-book {
        width: 320px;
    }

    .author-quote {
        font-size: 14px;
    }

    .amazon-link {
        width: 130px;
        margin-top: -40px;
        margin-bottom: -40px;

    }

    .input-group {
        margin-top: -58px;
    }

    .email-message {
        font-size: 14px;
    }

    input[type="email"] {
        font-size: 14px !important;
        margin-left: 150px;
    }

    .btn {
        font-size: 14px;
        margin-right: 150px;
    }


    .right-half {
        background-color: #b6701e;
        float: left;
        width: 50%;
        height: 100vh;
    
    }
    
    .artist {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: saturate(0%);
        display: block;
    }

}


/* Large desktop */
@media only screen and (min-width: 2000px) {
    .left-half {
        width: 50%;
        float: left;
    }

    .introduction {
        font-size: 35px;
    }

    .book-title {
        font-size: 80px;
        margin-top: -5px;
    }

    .gates-book {
        width: 480px;
    }

    .author-quote {
        font-size: 20px;
    }

    .amazon-link {
        width: 170px;
        margin-top: -40px;
        margin-bottom: -40px;

    }

    .input-group {
        margin-top: -58px;
    }

    .email-message {
        font-size: 20px;
    }

    input[type="email"] {
        font-size: 20px !important;
        margin-left: 150px;
    }

    .btn {
        font-size: 20px;
        margin-right: 150px;
    }


    .right-half {
        background-color: #b6701e;
        float: left;
        width: 50%;
        height: 100vh;
    
    }
    
    .artist {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: saturate(0%);
        display: block;
    }

}